<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Groups</title>
</head>
<body>

<form method="get" action="/main/">
    <button type="submit"> <- До головного меню</button>
</form>

<span>Всі групи:</span>
<p/>
    <form th:each="group : ${list}">
        <input type="submit" th:formaction="'/group/members/'+${group.number}" value="Учасники">
        <input formmethod="post" type="submit" th:formaction="'/group/delete1/'+${group.number}" value="Видалити">
        <td th:text="${group.number}"></td>
        <td th:text="${group.respfname}"></td>
        <td th:text="${group.resplname}"></td>

        <!--        дві кнопки виконують ту ж функцію, тільки перша вказуючи чітко поле-->
        <!--        <input class="publish" type="submit" value="Publish Article">-->
    </form>

</body>
</html>
