<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Groups</title>
</head>
<body>

<span>Всі групи:</span>

<div th:each="group : ${list}">
    <span th:text="${group.number}"></span>
    <span th:text="${group.respfname}"></span>
    <span th:text="${group.resplname}"></span>
</div>

<form method="post" th:action="@{/form/delete1}">
    <select>
        <option th:each="group : ${list}" th:value="${group.number}" th:text="${group.number}"></option>
        <input type="submit" value="Delete group">
    </select>
</form>

</body>
</html>
