<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Groups</title>
</head>
<body>

<span>Всі групи:</span>


<table>
    <thead>
    <tr>
        <th>#</th>
        <th>ім'я</th>
        <th>прізвище</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${list}">
        <td th:text="${group.number}"></td>
        <td th:text="${group.respfname}"></td>
        <td th:text="${group.resplname}"></td>
    </tr>
    </tbody>
</table>
</div>


<!--<form method="post" action="/group/delete1">-->
<!--    <select>-->
<!--        <option th:each="group : ${list}" th:value="${group.number}" th:text="${group.number}"></option>-->
<!--    </select>-->
<!--    <input type="submit" value="Delete group">-->

<!--</form>-->


</body>
</html>
