<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>change responsible in group</title>-->
<!--</head>-->
<!--<body>-->

<!--<div>Hello</div>-->
<!--<input type="number">-->
<!--<input type="submit">-->

<!--&lt;!&ndash;th:each="person : ${eldersAdHelpers}"&ndash;&gt;-->

<!--&lt;!&ndash;<form th:action="@{/group/change_resp_in_group/" method="post" >&ndash;&gt;-->
<!--<form action="#" th:action="@{/group/change_resp_in_group/" method="post">-->
<!--    <select>-->
<!--        <option th:each="person : ${eldersAndHelpers}" th:value="${person.id}" th:text="${person.lname}"></option>-->
<!--    </select>-->
<!--        <button type="submit"></button>-->
<!--</form>-->








<!--&lt;!&ndash;<form method="post" th:action="@{/form/delete1}">&ndash;&gt;-->
<!--&lt;!&ndash;    <select>&ndash;&gt;-->
<!--&lt;!&ndash;        <option th:each="group : ${list}" th:value="${group.number}" th:text="${group.number}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Delete group">&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->


<!--</body>-->
<!--</html>-->
