<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current User</title>
</head>
<body>

<form th:each="person1 : ${edit_people}">

    <input hidden placeholder="ID" type="text" th:value="${person1.id}" name="id"/>
    <input placeholder="Прізвище" type="text" th:value="${person1.lname}" name="lname"/>
    <input placeholder="Ім'я" type="text" th:value="${person1.fname}" name="fname"/>
<!--    <input placeholder="Вулиця" type="text" th:value="${person1.sex}" name="sex"/>-->

            <input th:each="sex : ${genderList}" type="radio"  th:value="${person1.sex}" name="sex" th:text="${sex.type}"/>

<!--    <input type="radio" th:each="sex : ${genderList}" th:value="${sex.id}" th:text="${sex.type}"-->
<!--           checked name="${person1.sex}"/>-->

<!--    <select th:field="*{person1.sex}">-->
<!--        <option th:each="sex : ${genderList}" th:value="${sex.id}"-->
<!--                th:text="${sex.type}"></option>-->
<!--    </select>-->

<!--    <input placeholder="Група" type="number" th:value="${person1.groupNumb}" name="groupNumb"/>-->
<!--    <input placeholder="Вулиця" type="text" th:value="${person1.street_name}" name="street_name"/>-->
<!--    <input placeholder="Вулиця" type="text" th:value="${person1.street_building_number}" name="street_building_number"/>-->
<!--    <input placeholder="Вулиця" type="number" th:value="${person1.flat_number}" name="flat_number"/>-->
<!--    <input placeholder="Вулиця" type="number" th:value="${person1.home_phone}" name="home_phone"/>-->
<!--    <input placeholder="Вулиця" type="number" th:value="${person1.mob_phone}" name="mob_phone"/>-->
<!--    <input placeholder="Вулиця" type="date" th:value="${person1.birthday}" name="birthday"/>-->

    <button formmethod="post" th:formaction="'/view/edit/'" th:object="${person1}" type="submit">Send</button>

</form>

</body>
</html>
