<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current User</title>
</head>
<body>

<form th:each="person1 : ${edit_people}">

    <input hidden placeholder="ID" type="text" th:value="${person1.id}" name="id"/>
    <input placeholder="Прізвище" type="text" th:value="${person1.lname}" name="lname"/>
    <input placeholder="Ім'я" type="text" th:value="${person1.fname}" name="fname"/>

    <select name="sex">
        <option th:each="sex1 : ${genderList}" th:value="${sex1.type}" th:text="${sex1.type}"
                th:selected="${sex1.type} == ${person1.sex}"></option>
    </select>

    <select name="group">
        <option th:each="group : ${groups}" th:value="${group.number}" th:text="${group.number}"
                th:selected="${group.number} == ${person1.group}"></option>
    </select>

    <select name="privInMeet">
        <option th:each="prMeet : ${typesDtoList}" th:value="${prMeet.id}" th:text="${prMeet.meet_type}"
                th:selected="${prMeet.id} == ${person1.privInMeet}"></option>
    </select>

    <select name="privInService">
        <option th:each="prServ : ${serviceList}" th:value="${prServ.id}" th:text="${prServ.type}"
                th:selected="${prServ.id} == ${person1.privInService}"></option>
    </select>

    <select name="hope_on">
        <option th:each="hope : ${hopeList}" th:value="${hope.id}" th:text="${hope.hope_type}"
                th:selected="${hope.id} == ${person1.hope_on}"></option>
    </select>

    <input placeholder="Вулиця" type="text" th:value="${person1.street_name}" name="street_name"/>
    <input placeholder="Будинок" type="text" th:value="${person1.street_building_number}"
           name="street_building_number"/>
    <input placeholder="Квартира" type="number" th:value="${person1.flat_number}" name="flat_number"/>
    <input placeholder="Дом.тел." type="number" th:value="${person1.home_phone}" name="home_phone"/>
    <input placeholder="Моб." type="number" th:value="${person1.mob_phone}" name="mob_phone"/>
    <input placeholder="Дата народження" type="date" th:value="${person1.birthday}" name="birthday"/>
    <input placeholder="Дата хрещення" type="date" th:value="${person1.dateChreshchennja}" name="dateChreshchennja"/>

    <button formmethod="post" th:formaction="'/view/edit/'" th:object="${person1}" type="submit">Send</button>

</form>

</body>
</html>
