<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<span>Редагування груп: </span>
<p/>

<form method="get" action="/group/">
    <button type="submit">показати групи</button>
</form>

<form method="get" action="/main/">
    <button type="submit"> <- До головного меню</button>
</form>

<p/>
<!--@{/form/post} - це урла яка описана в Mvc контроллері для запуску Post методу
    group - це обєкт який приходить із Post через Get в model.addAttribute("group", new GroupCreateDto());-->
<form method="post" th:object="${group}" th:action="@{/form/post}">

    <span>Нова група </span>
    <input style="width: 35px" type="number" th:value="${nextNumber}" name="number"/>

    <span>Відповідальний </span>
    <select th:field="*{respId}">
        <option th:each="person : ${eldersAndHelpers}" th:value="${person.id}"
                th:text="${person.lname}+' '+${person.fname}"></option>
    </select>

    <input style="background-color: antiquewhite" type="submit" value="Створити групу">

</form>

<p/>

<form th:object="${group}">
    <span>Група </span>
    <select th:field="*{number}">
        <option th:each="group : ${allGroups}" th:value="${group.number}" th:text="${group.number}"></option>
    </select>

    <span> Змінити відповідального на: </span>

    <select th:field="*{respId}">
        <option th:each="person : ${eldersAndHelpers}" th:value="${person.id}"
                th:text="${person.lname}+' '+${person.fname}"></option>
    </select>

    <input formmethod="post" type="submit" th:formaction="'/form/update'" value="Оновити зміни">
    <input formmethod="post" type="submit" th:formaction="'/form/delete'" value="Видалити групу">
</form>

<!--<form th:each="group : ${list}">-->
<!--    <input type="submit" th:formaction="'/group/members/'+${group.number}" value="Учасники">-->
<!--    <input formmethod="post" type="submit" th:formaction="'/group/delete1/'+${group.number}" value="Видалити">-->
<!--    <td th:text="${group.number}"></td>-->
<!--    <td th:text="${group.respfname}"></td>-->
<!--    <td th:text="${group.resplname}"></td>-->

<!--Робочий delete group інпутом по кнопці-->
<!--<form method="post" th:object="${groupID}" th:action="@{/form/delete}">-->
<!--    <input type="text" th:field="*{number}"/>-->
<!--    <input type="submit" value="Delete group">-->
<!--</form>-->

<!--<select >-->
<!--    <option th:each="person : ${eldersAndHelpers}" th:value="${person.id}" th:text="${person.lname}"></option>-->
<!--</select>-->

</body>
</html>
