<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
</head>
<body>
<span>Створення нової людини: </span>

<form method="post" th:object="${person}" th:action="@{/view/create_person}">

    <p>Про людину: </p>
    <input placeholder="Ім'я" type="text" th:field="*{fname}"/>
    <input placeholder="Прізвище" type="text" th:field="*{lname}"/>

    <span>Стать: </span>
    <select th:field="*{sex}">
        <option th:each="sex : ${genderList}" th:value="${sex.id}"
                th:text="${sex.type}"></option>
    </select>

    <span>Дата народження</span>
    <input placeholder="Дата народження" type="date" th:field="*{birthday}"/>

    <br>
    <p>Контактні дані: </p>
    <input placeholder="Вулиця" type="text" th:field="*{street_name}"/>
    <input placeholder="Будинок" type="text" th:field="*{street_building_number}"/>
    <input placeholder="Квартира" type="number" th:field="*{flat_number}"/>
    <input placeholder="Дом.тел." type="number" th:field="*{home_phone}"/>

    <span>Моб.</span>
    <input placeholder="Моб." type="number" th:field="*{mob_phone}"/>

    <br>
    <p>Зборова інформація: </p>
    <span>Група: </span>
    <select th:field="*{groupNumb}">
        <option th:each="group : ${list}" th:value="${group.number}"
                th:text="${group.number}+' '+${group.resplname}+' '+${group.respfname}"></option>
    </select>

    <span>В зборі: </span>
    <select th:field="*{priv_meet}">
        <option th:each="meetType : ${typesDtoList}" th:value="${meetType.id}"
                th:text="${meetType.meet_type}"></option>
    </select>

    <span>В служінні: </span>
    <select th:field="*{serviceInS}">
        <option th:each="service : ${serviceList}" th:value="${service.id}"
                th:text="${service.type}"></option>
    </select>

    <select th:field="*{hope_id}">
        <option th:each="hope : ${hopeList}" th:value="${hope.id}"
                th:text="${hope.hope_type}"></option>
    </select>

    <input placeholder="Дата хрещення" type="date" th:field="*{date_chreshchennja}"/>

    <input type="submit" value="Створити">

</form>

</body>
</html>
