<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<span>Створення нової групи: </span>
<span th:text="${form}"></span>
<span th:text="${hello}"></span>

<!--@{/form/post} - це урла яка описана в Mvc контроллері для запуску Post методу
    group - це обєкт який приходить із Post через Get в model.addAttribute("group", new GroupCreateDto());-->
<form method="post" th:object="${group}" th:action="@{/form/post}">

    <input type="text" th:field="*{number}"/>
    <input type="text" th:field="*{respId}"/>

    <input type="submit" value="Create group">
<!--    <input type="submit" value="Delete group" th:action="@{/form/delete}">-->

</form>


<form method="post" th:object="${group}" th:action="@{/form/update}">
    <input type="text" th:field="*{number}"/>
    <input type="text" th:field="*{respId}"/>

    <input type="submit" value="Update group">
</form>

<form method="post" th:object="${groupID}" th:action="@{/form/delete}">
    <input type="text" th:field="*{number}"/>
    <input type="submit" value="Delete group">
</form>

<!--<form method="post" th:action="@{/form/delete1}">-->
<!--    <select>-->
<!--        <option th:each="group : ${list}" th:value="${group.number}" th:text="${group.number}"></option>-->
<!--        <input type="submit" value="Delete group">-->
<!--    </select>-->
<!--</form>-->

</body>
</html>
