<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
</head>
<body>
<span>Створення нової людини: </span>

<form method="post" th:object="${person}" th:action="@{/view/create_person}">

    <input placeholder="Ім'я" type="text" th:field="*{fname}"/>
    <input placeholder="Прізвище" type="text" th:field="*{lname}"/>
<!--    <input placeholder="Дата народження" type="date" th:field="*{birthday}"/>-->
    <input placeholder="Дата народження" type="date" th:field="*{birthday}"/>

    <select th:field="*{sex}">
            <option th:each="sex : ${genderList}" th:value="${sex.id}"
                    th:text="${sex.type}"></option>
        </select>

    <select th:field="*{priv_meet}">
            <option th:each="meetType : ${typesDtoList}" th:value="${meetType.id}"
                    th:text="${meetType.meet_type}"></option>
        </select>

    <select th:field="*{groupNumb}">
        <option th:each="group : ${list}" th:value="${group.number}"
                th:text="${group.number}+' '+${group.resplname}+' '+${group.respfname}"></option>
    </select>

    <select th:field="*{serviceInS}">
        <option th:each="service : ${serviceList}" th:value="${service.id}"
                th:text="${service.type}"></option>
    </select>



<!--    <input placeholder="Номер групи" type="number" th:field="*{groupNumb}"/>-->

    <input type="submit" value="Створити">

</form>

</body>
</html>
