<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<form method="get" action="/main/">
    <button type="submit"> <- До головного меню</button>
</form>

<h3>Список людей</h3>

<table>
    <thead>
    <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>Група №</th>
        <th>Стать</th>
        <th>Дата народження</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center" th:each="person : ${people}">
        <td><span th:text="${person.lname}"></span></td>
        <td><span th:text="${person.fname}"></span></td>
        <td><span th:text="${person.groupNumb}"></span></td>
        <td><span th:text="${person.sex}"></span></td>
        <td><span th:text="${person.birthday}"></span></td>
<!--        <td><span th:text="${person.service_priv}"></span></td>-->
    </tr>
    </tbody>
</table>

</body>
</html>
