<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Головне вікно програми</p>
<form method="get" action="/form/">
    <button type="submit">Open form</button>
</form>
<form method="get" action="/group/">
    <button type="submit">Show groups</button>
</form>
<form method="get" action="/view/">
    <button type="submit">Show all members</button>
</form>
<form method="get" action="/view/create_person">
    <button type="submit">Create new Person</button>
</form>
    <button onclick="location.href='formCreatePerson.html'">HREF</button>


</body>
</html>
